.client_area{
  background-color: #EAEDED;
}
.client_page{
  background-color: #EAEDED;
  min-height:500px;
}

/*------------------DropDwon Navigation-------------------*/
:root{
	--bgColor:#3F51B5;
	--fontColor:white;
}

.navbar{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 50px;
}
.nav{
	position: absolute;
}
.nav ul{
	display:flex;
	list-style:none;
}

.nav ul li{
	padding-left:10px;
}

.nav ul li a{
	color:var(--fontColor);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.nav ul li span{
	color:var(--fontColor);
	float:right;
	margin-left: -10px;
}
.nav ul li a:hover{
	
	color:yellow;
}
.dropdown-1{
	display:none;
	margin-top:9px;
	
}

.nav ul li:hover .dropdown-1{
	display:block;
	position:absolute;
	background:var(--bgColor);
}

.nav ul li:hover .dropdown-1 ul{
	display:block;
}

.nav ul li:hover .dropdown-1 ul li{
	line-height:50px;
	min-width:115px;	
	margin-left:-40px;
	padding-right:30px;
	border-bottom:1px solid white;
}
.nav ul li:hover .dropdown-1 ul li span{
	margin-right:-30px;
}
.dropdown-2{
	display:none;
}

.dropdown-1 ul li:hover .dropdown-2{
	display:block;
	position:absolute;
	background:var(--bgColor);
	margin-left:143px;
	margin-top:-50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-1 ul li:hover .dropdown-2 ul{
	min-width:initial;
	
}
.dropdown-1 ul li:hover .dropdown-2 ul li{
	min-width:100px;
	padding-right:30px;
	margin-left:-80px;
	border-bottom:1px solid white;
}
.menuBtn{
	display:none;
}
/*-------------General Navigation Css End----------------------*/


@media screen and (max-width:700px){
	.menuBtn{
		display:block;
	}
	.nav ul{
		flex-direction:column;
		background:var(--bgColor);
		margin-top:12px;
		min-width:250px;
		border-top:1px solid white;
		height:100vh;
		display:none;
	}
	#check_box:checked ~ ul{
		display:block;
	}
	.nav ul li{
		line-height:50px;
		margin-left:-40px;
		border-bottom:1px solid white;
	}
	.nav ul li a{
		margin-right:10px;
	}
	.nav ul li span{
		color:var(--fontColor);
		float:right;
		margin-right:10px
	}
	.dropdown-1{
		display:flex;
		display:none;
	}
	.nav ul li:hover .dropdown-1{
		display:initial;
		position:initial;
		
	}
	.nav ul li:hover .dropdown-1 ul{
		height:inherit;
		position:relative;
		min-width:initial;
		margin-top:-1px;		
	}
	.nav ul li:hover .dropdown-1 ul li{
		padding-left:initial;
		padding-right:initial;
		margin-left:-20px;
	}
	.nav ul li:hover .dropdown-1 ul li span{
		margin-right:initial;
		margin-right:10px;
	}
	.dropdown-2{
		display:flex;
		display:none;
		
	}
	.dropdown-1 ul li:hover .dropdown-2{
		display:initial;
		position:initial;
		
	}
	
	.dropdown-1 ul li:hover .dropdown-2 ul li{
		margin-left:-60px;
		padding-left:initial;
		padding-right:initial;
		min-width: initial;
	} 
	
}

/* ------End Nav Css------- */


.product_card{
  background: rgb(76, 78, 72);
  width:508px;
  display: inline-block;
  margin: 1px;
  padding: 16px;
  color:white;
}


.admin_t{
  text-decoration:none;
  color:black;
}

.T_area{
  width: 400px;
  height: 200px;
  margin-top: 20px;
}

.imgPreview{
  display: inline-flex;
  width:100px;
  height:100px;
}
